.container {
  background-color: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 5rem auto;
  padding: 4rem 0;
  width: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
hr {
  border: none;
  border-top: 1px solid #63acff;
  margin: 0 auto;
}
.avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0 auto;
}
.name {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 1rem;
}
.bio {
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 1rem;
}
.email {
  font-size: 1rem;
  color: #333;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 1rem;
}
.phone {
  font-size: 1rem;
  color: #333;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 1rem;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background-color: #ffffff;
  padding: 1rem 0;
}
.githubButton, .linkedinButton {
  background-image: linear-gradient(to right, #0565d3, #7ac1f3);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 30%;
  margin: 0 auto;
}
.githubButton:hover, .linkedinButton:hover {
  background-color: #555;
}
